[Unit]
Description=web service exposing endpoint for triggering invocation of scripts

[Service]
Type=simple
WorkingDirectory=/path/to/pulling-deployer
Environment=IP=0.0.0.0
ExecStart=/usr/bin/env npm start
User=nobody

[Install]
WantedBy=multi-user.target
